body {
    background-color: #4B4D52 !important;
}

form {
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    display: inline-block;
    width: 100%;
    background-color: #FFF2E7;
    padding-bottom: 15px;
}

.login {
    width: 250px;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    outline: none;
    border: 1px solid #ccc;
    padding: 12px;
    min-width: 75%;
}

.date {
    background: transparent;
    text-align: center;
    font-family: Georgia, serif;
    font-weight: bold;
    letter-spacing: 12px;
    font-variant: small-caps;
    border-top: 3px solid #2FCA5E;
    border-bottom: 3px solid #2FCA5E;
    border-left-style: none;
    border-right-style: none;
    padding: 8px 0;
}

.login:focus {
    border-color: #056CB6;
    box-shadow: 0 0 3px 1px #B2B2F8;
}

a {
    text-decoration: none;
}

.sub input {
    width: 30%;
    background: transparent;
    margin: 0 25px 0 25px;
    padding: 5px 7px;
    border: 3px solid #B9B1A8;
    text-decoration: none;
    color: #B9B1A8;
    font-weight: 800;
    transition: all 0.5s;
}

.sub input:hover {
    border-color: #3D3C3A;
    color: #3D3C3A;
}

.login_legend {
    padding: 15px;
    background-color: #04A466;
}

.signup_legend {
    padding: 15px;
    background-color: #FB4D59;
}

.entry_legend {
    padding: 15px;
    background-color: #DE8624;
}

legend {
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    display: block;
    font-family: Palatino, serif;
    letter-spacing: 10px;
}

.errorspan {
    border-radius: 2px;
    font-weight: bold;
    color: white;
    font-family: century gothic, serif;
    font-size: 12px;
    padding: 2px 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background: #FF0000;
}

.success {
    border-radius: 2px;
    font-weight: bold;
    color: white;
    font-family: century gothic, serif;
    font-size: 12px;
    padding: 2px 5px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background: #8BC53F;
}

.logged {
    width: 50%;
    margin: auto;
}

#comment_box {
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #CBCBCB;
}

#comment_box > h3 {
    color: blue;
}

.icon {
    width: 200px;
    display: inline;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 60px;
    background-color: white;
    border-radius: 10px;
}