body {
    background-color: #93B1C6;
}

.navbar-default {
    background-color: #393939;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.main-body {
    padding-top: 100px;
}

.center {
    position: relative;
    padding-top: 25px;
    text-align: center;
}

.images {
    transition: all 0.5s;
    width: auto;
    height: 100%;
    text-align: center;
}

.images:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 50px 5px #FFD464;
}

.header-icon {
    border-style: solid;
    border-color: #9a9a9a;
    color: #9a9a9a;
    border-width: 5px 5px 5px 5px;
    padding: 5px 7px;
    font-weight: 800;
    margin: 10px 30px;
    transition: all 0.5s;
    display: block;
    float: left;
}

.header-icon:hover {
    border-color: #ffffff;
    color: #ffffff;
}

h2 {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    font-weight: 800;
    color: #6E6E6E;
    font-family: "Courier New", Courier, monospace;
}

h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    font-weight: 600;
    color: #D0CABF;
    font-family: Garamond;
    letter-spacing: 10px;
}

.col-sm-4 {
    text-transform: uppercase;
    margin: 35px 15px;
    padding: 0;
}

.col-sm-3 {
    text-transform: uppercase;
    margin: 35px 15px;
    padding: 0;
}

.foot {
    background-color: #DDE0CD;
    text-align: center;
    font-size: 16px;
    padding: 20px 0px;
}

.foot p {
    margin: 0px;
}

.clearfix {
    color: aliceblue;
    text-align: justify;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    opacity: 0.60;
}

.caption p.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
}

.about {
    color: #6E6E6E;
    background-color: #90C5A9;
    font-size: 22px;
    text-align:center;
    padding: 50px 80px;
    text-align: justify;
}

.bgimg-0 {
    background-image: url('../images/me.JPG');
    position: relative;
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('../images/waterfall.JPG');
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
     background-image: url('../images/yellowstone.JPG');
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-3 {
    background-image: url('../images/creek.JPG');
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-4 {
    background-image: url('../images/twin_falls.JPG');
    position: relative;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxes {
    width: 300px;
    height: 200px;
    margin: auto;
    background-color: #fff;
    text-align: center;
}

.boxes p {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 80%;
    font-weight: 600;
    color: #D0CABF;
    font-family: Garamond;
    letter-spacing: 7px;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}